<Router AppAssembly="@GetType().Assembly" AdditionalAssemblies=@(new[] { typeof(PineapplePlanner.UI.Pages.Home).Assembly})>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout=@(typeof(PineapplePlanner.UI.Layouts.MainLayout))/>
    </Found>
    <NotFound>
        <h1>Not found</h1>
        <p>Sorry, there's nothing here.</p>
    </NotFound>
</Router>
