@using MediatR
@using PineapplePlanner.Domain.Entities

@page "/"
@inject IMediator _mediator

Todos:
<br />

@if (_todosResult != null)
{
    @foreach (Domain.Entities.Task todo in _todosResult.Todos ?? new())
    {
        <div>@todo.Id @todo.Name</div>
    }
}
else
{
    <div>Loading...</div>
}

<div>@_error</div>
