.home {
    flex: 1;
    height: 100%;
    display: flex;
}

.tasks-list {
    flex: 1;
    overflow: auto;
}

.no-entries {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
