@using MediatR
@using PineapplePlanner.Application.Interfaces
@using PineapplePlanner.Domain.Entities

@page "/"
@inject IMediator _mediator
@inject ITaskRepository _taskRepository

Todos:
<br />

@foreach (Domain.Entities.Task task in _tasks ?? new())
{
    <div>@task.Id @task.Name</div>
}

<div>@_error</div>

