.home {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modifiers {
    padding: 8px;
    width: 100%;
}

.tasks-list {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.no-entries {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
