@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using PineapplePlanner.UI.Services

@page "/login"

@inject IJSRuntime _jsRuntime
@inject FirebaseAuthenticationService _authService
@inject AuthenticationStateProvider _authProvider
@inject NavigationManager _navigationManager

<div class="login-container">
    <h1>Login</h1>
    <!--<label for="email">Email</label>-->
    <input @bind-value=@_email id="email" type="email" placeholder="email" />
    <!--<label for="password">Password</label>-->
    <input @bind-value=@_password id="password" type="password" placeholder="password"/><br/>
    <button @onclick=@HandleLogin>Login</button><br />
    <p>Not registered? <a href="/register">Create an account</a></p>
    

</div>

@_message
<br />
@_error

