@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using PineapplePlanner.Application.Services
@using PineapplePlanner.UI.Layouts
@using PineapplePlanner.UI.Services

@page "/login"

@layout UnauthenticatedLayout

@inject IJSRuntime _jsRuntime
@inject FirebaseAuthenticationService _authService
@inject AuthenticationStateProvider _authProvider
@inject NavigationManager _navigationManager
@inject CredentialsService _credentialsService
@inject LocalizationService _localize

@if (_isLoading)
{
    <MudProgressLinear Color=@Color.Primary Indeterminate />
}
else
{
    <div class="login">
        <MudPaper Elevation="25" Class="pa-4">
            <div class="login-form">
                <MudImage ObjectFit=@ObjectFit.Contain
                          Height="64"
                          Width="64"
                          Src="../images/pineapple_planner_logo.svg"
                          Alt="Pineapple Planner"
                          Elevation="0" />
                <MudText Typo=@Typo.h6>Login</MudText>
                <MudTextField Label=@_localize["Email"] @bind-Value=@_email Placeholder="Email" Variant=@Variant.Outlined Margin=@Margin.Dense />
                <MudTextField Label=@_localize["Password"] @bind-Value=@_password InputType=@InputType.Password Placeholder="Password" Variant=@Variant.Outlined Margin=@Margin.Dense Immediate @onkeydown="HandlePasswordKeyDown" />
                <MudButton Variant=@Variant.Outlined OnClick=@HandleLogin>Login</MudButton>
                <div>
                    <MudText Style="display: inline;" Typo=@Typo.body1>@_localize["Not registered yet?"]</MudText> <MudLink Href="/register">@_localize["Create an account"]</MudLink>
                </div>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <MudAlert Severity="Severity.Error" Class="my-2">@_error</MudAlert>
                }
            </div>
        </MudPaper>
    </div>
}

