@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using PineapplePlanner.UI.Services

@page "/register"

@inject IJSRuntime _jsRuntime
@inject FirebaseAuthenticationService _authService
@inject AuthenticationStateProvider _authProvider
@inject NavigationManager _navigationManager

<div class="register-container">
    <h1>Register</h1>
    <input id="name" placeholder="Name" />
    <input @bind-value=@_email id="email" type="email" placeholder="Email" />
    <input @bind-value=@_password id="password" type="password" placeholder="Password" />
    <button type="submit" @onclick=@HandleRegister>Register</button><br/>
    <p>Already registered? <a href="/login">Sign In</a></p>
</div>

@_message
<br />
@_error

