.settings-container {
    background-color: white;
    width: 80%;
    max-width: 500px;
    max-height: 380px;
    height: 60%;
    margin: 50px auto;
    padding-top: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
