.settings {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 8px;
    height: 100%;
    padding: 8px;
}

.settings__content {
    height: 100%;
}

.profile, .appearance, .danger-zone {
    padding: 12px 24px;
}

.actions {
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.language-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-item img {
    height: 18px;
}

.theme-select {
    display: flex;
    gap: 8px;
    align-items: center;
}
