@using Microsoft.AspNetCore.Authorization
@using PineapplePlanner.UI.Services

@page "/settings"

@attribute [Authorize]

@inject FirebaseAuthenticationService _authService

<MudPaper Class="pa-4 ma-2" Elevation="25" Style="width: 100%;">
    <div class="settings">
        ⚙️Settings <br />
        <left>1. Dark/light theme</left> <br />
        2. Change username <br />
    </div>
</MudPaper>
