@using Microsoft.AspNetCore.Authorization
@using PineapplePlanner.UI.Services

@page "/settings"

@attribute [Authorize]

@inject FirebaseAuthenticationService _authService

<div class="settings-container">

	⚙️Settings <br />
	<left>1. Dark/light theme</left>
</div>


