@using Microsoft.AspNetCore.Authorization
@using PineapplePlanner.UI.Services

@page "/settings"

@attribute [Authorize]

@inject FirebaseAuthenticationService _authService

<div class="settings">
    <MudPaper Class="pa-4" Elevation="25" Style="width: 100%;">
        <div class="header">
            <MudText Typo=@Typo.h5>Settings</MudText>
        </div>
        <div class="profile">
            <MudText Typo=@Typo.h6>Profile</MudText>
        </div>
        <MudDivider />
        <div class="appearance">
            <MudText Typo=@Typo.h6>Appearance</MudText>
            <MudSwitch @bind-Value=@IsDarkMode T=@bool Label="Dark Mode" />
        </div>
    </MudPaper>
</div>
