@using Microsoft.AspNetCore.Components.Authorization
@using PineapplePlanner.UI.Components

@inherits LayoutComponentBase

<div class="authenticated-layout">
    <Nav />
    <main>
        @Body
    </main>
</div>
