@using Microsoft.AspNetCore.Components.Authorization
@using PineapplePlanner.UI.Components

@inherits LayoutComponentBase

<div class="authenticated-layout">
    <Nav OnCreateTask=@HandleCreateTask />
    <main>
        @Body
    </main>
    <TaskDetail @bind-IsOpen=@_isTaskDetailOpen Task=@_detailTask></TaskDetail>
</div>
