@using Microsoft.AspNetCore.Components.Authorization
@using PineapplePlanner.Application.Interfaces
@using PineapplePlanner.UI.Components
@using PineapplePlanner.UI.Services

@inherits LayoutComponentBase

@layout MainLayout

@inject AuthenticationStateProvider _authStateProvider
@inject IUserRepository _userRepository
@inject LocalizationService _localizationService

<CascadingValue Name="AuthenticatedLayout" Value=@this>
    <div class="authenticated-layout">
        <Nav />
        <main>
            @Body
        </main>
        <TaskDetail @bind-IsOpen=@_isTaskDetailOpen Entry=@_detailTask></TaskDetail>
    </div>
</CascadingValue>
