@using Microsoft.AspNetCore.Components.Authorization
@using PineapplePlanner.UI.Components

@inherits LayoutComponentBase


<div class="layout">
    <Nav />
    <main>
        @Body
    </main>
</div>
