nav {
    height: 100%;
    padding: 20px;
    max-width: 300px;
    flex: 1;
}

    nav ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        padding: 8px;
        margin: 4px;
    }

    nav li:not(.separator,.logo) {
        border-radius: 8px;
    }

    .logo {
        margin-bottom: 8px;
    }
