<nav>
    <ul>
        <li class="logo">
            <NavLink href="/">
                <div>Pineapple Planner</div>
            </NavLink>
        </li>
        <li>
            <NavLink href="/">
                Overview
            </NavLink>
        </li>
        <li>
            <NavLink href="/tasks">
                Tasks
            </NavLink>
        </li>
        <li>
            <NavLink href="/calendar">
                Calendar
            </NavLink>
        </li>
    </ul>
</nav>