@inject NavigationManager _navigationManager

<nav>
    <ul>
        <NavLink href="/">
            <li class="logo">
                <div>Pineapple Planner</div>
            </li>
        </NavLink>
        <NavLink href="/">
            <li>
                Overview
            </li>
        </NavLink>
        <NavLink href="/tasks">
            <li>
                Tasks
            </li>
        </NavLink>
        <NavLink href="/calendar">
            <li>
                Calendar
            </li>
        </NavLink>
        <li class="separator">
            <hr />
        </li>
        <NavLink href="/settings">
            <li>
                Settings
            </li>
        </NavLink>
    </ul>
</nav>