@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using PineapplePlanner.UI.Services

@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject FirebaseAuthenticationService _authenticationService

<nav>
    <ul>
        <NavLink href="/">
            <li class="logo">
                <div>Pineapple Planner</div>
            </li>
        </NavLink>
        <NavLink href="/">
            <li>
                Tasks
            </li>
        </NavLink>
        <NavLink href="/calendar">
            <li>
                Calendar
            </li>
        </NavLink>
        <li class="separator">
            <hr />
        </li>
        <NavLink href="/settings">
            <li>
                Settings
            </li>
        </NavLink>
        @if (_authenticationState?.User.Identity?.IsAuthenticated == true)
        {
            <li>
                @_authenticationState.User.FindFirst(ClaimTypes.Email)?.Value<br />
                <a href="/" @onclick=@HandleLogout>Logout</a>
            </li>
        }
        else
        {
            <NavLink href="/login">
                <li>
                    Login
                </li>
            </NavLink>
        }
        <li>
            <button @onclick=@HandleCreateTask>Create task</button>
        </li>
    </ul>
</nav>