@using PineapplePlanner.Domain.Entities

<div class="task-item">
    <div class="completed">
        <input checked=@(Task.CompletedAt != null) type="checkbox" id="completed" name="completed" @oninput=@HandleCompleteChange />
    </div>
    <div class="content" @onclick=@HandleOnClick>
        <span>@Task.Name</span>
        <span>@Task.Description</span>
        <div class="tags">
            @foreach (Tag tag in Task.Tags)
            {
                <div>@tag.Name</div>
            }
        </div>
    </div>
</div>