.task-item {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 8px;
    background: #eaeaea;
}

.completed {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tags {
    display: flex;
    gap: 4px;
}
